@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: #1b8b8f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 10rem;
}


header>img {
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

nav {
    text-align: center;
    background-color: #6e3a24;
    padding: 1rem;
}

nav>a {
    flex-direction: row;
    font-size: 1.6em;
    text-decoration: none;
    color: white;
    font-family: "PT Sans Narrow", serif;
    text-align: center;
    padding: 1rem;
    padding-inline: 4rem;
}

section>h2 {
    font-size: 1.4rem;
    font-family: "PT Sans Narrow", serif;
    color: white;
    background-color: #6e3a24;
    padding-top:1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    margin-right: 1rem;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin: 1rem;
}

section>img {
    width: 58rem;
    margin-bottom: 4rem;
    margin-right: 10rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    flex: 7;

}


aside {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 3;
}

aside>h2 {
    text-transform: capitalize;
    font-size: 1.4em;
    font-family: "PT Sans Narrow", serif;
    color: white;
    background-color: #6e3a24;
    padding: 1rem;
    border-radius: 10px;
    margin: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

aside>p {
    color: black;
    text-align: justify;
    line-height: 2.5rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    margin-bottom: 4rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

header.container{
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    section>p{
      flex-basis: 100%; /* Prend toute la largeur dans les petits écrans */
      min-width: 100%;  /* Empêche le rétrécissement excessif */